/* MotoGP-Desktop */
/* Hoja de estilo para el juego de memoria con cartas */

main article {
    width: 20vw;
    height: 20em;
    position: relative;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
}

main article[data-estado=volteada] {
    transform: rotateY(180deg);
}

article h3,
article img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.5em;
    background: #1C7CCC;
    backface-visibility: hidden;
}

article h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

article img {
    transform: rotateY(180deg);
}
