/*
Andres Zhou Blanco Rodriguez
UO300351
*/

/* Layout generales del proyecto MotoGP-Desktop */

/* Especificidad = 001 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

/* Especificidad = 001 */
nav {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
}

/* Especificidad = 001 */
video,
audio {
    width: 100%;
    height: auto;
}

/* Especificidad = 001 */
img {
    max-width: 100%;
    height: auto;
}

/* ------------------------------- */
/*   MEDIA QUERIES: Disenio movil   */
/* ------------------------------- */
@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad = 001 
       Se redefinen flex-direction y align-items 
       Se redefine align-items */
    header {
        flex-direction: column;
        align-items: center;
    }

    /* Especificidad = 001 
       Se redefinen flex-direction, justify-content y align-items
       Se redefine justify-content */
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Especificidad = 002
       Se redefine display */
    main > p:first-of-type {
        display: none;
    }

    /* Especificidad = 002
       Se redefinen width y height
       Se redefine width
       Se redefine height */
    video,
    audio {
        width: 100%;
        height: auto;
    }

    /* Especificidad = 002
       Se redefinen width, height y display */
    article h2 + img {
        width: 100%;     
        height: auto;    
        display: block;  
        margin: 0 auto; 
    }
}
