/*
  Andres Zhou Blanco Rodriguez
  UO300351
*/

/* Layout para las cartas del proyecto MotoGP-Desktop */

/* Especificidad = 001 */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 1rem;
  justify-content: center;
  align-content: start;
  margin: 2rem;
  padding: 1rem;
}

/* El título ocupa toda la primera fila */

/* Especificidad = 002 
   Se hereda el color de primer plano */
main > h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* El cronómetro ocupa toda la segunda fila */

/* Especificidad = 002 
   Se hereda el color de primer plano */
main > p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Estilo de las tarjetas */

/* Especificidad = 001 */
article {
  background-color: #f4f4f4; /* Se hereda el color de primer plano */
  border: 2px solid #ccc;
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
}

/* Adaptación responsive con @media */

/* Especificidad = 001 */
@media (max-width: 768px) {

  /* Especificidad = 001
     Se redefine grid-template-columns para reducir el layout a 2 columnas */
  main {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móvil */
  }
}
