/*
Andres Zhou Blanco Rodriguez
UO300351
*/

/* Layout generales del proyecto MotoGP-Desktop */

/* Especificidad = 001 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

/* Especificidad = 001 */
nav {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
}

/* Especificidad = 002 */
header > button {
  padding: 0.5rem 0.75rem;
  border: 1px solid #000; /* CORREGIDO */
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Especificidad = 001 */
button {
  margin: 1rem;
}

/* Especificidad = 001 */
img,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* Especificidad = 011 */
section .gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Especificidad = 002 */
section figure {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
  padding: 0;
  position: relative;
}

/* Especificidad = 012 */
section .gallery video {
  display: block;
  margin: 0 auto;
}

/* Especificidad = 012 */
section .gallery figure {
  text-align: center;
}

/* Especificidad = 012 */
section figure.leaflet-container {
  width: 80%;
  max-width: 100%;
  height: 26rem;
  margin: 1rem auto;
  padding: 0;
  position: relative;
}
ç

/* Especificidad = 016 */
form fieldset ol li input[type="text"] {
    width: 150%;
    max-width: 80%;
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* ------------------------------- */
/*   MEDIA QUERIES: Diseño móvil   */
/* ------------------------------- */
@media (min-width: 320px) and (max-width: 799px) {

  /* Especificidad = 001 */
  header {
    flex-direction: column;
    align-items: center;
  }

  /* Especificidad = 001 */
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Especificidad = 001 */
  nav[data-open="false"] {
    display: none;
  }

  /* Especificidad = 001 */
  nav[data-open="true"] {
    display: flex;
  }
}

/* En escritorio, el botón no es necesario */
@media (min-width: 800px) {
  /* Especificidad = 002 */
  header > button {
    display: none;
  }

  /* Especificidad = 001 */
  video,
  audio {
    width: 100%;
    height: auto;
  }

  /* Especificidad = 003 */
  article h2 + img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* Especificidad = 011 */
  section .gallery {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}
