/* layout.css */

/* Especificidad = 001 */
header {
    display: flex;
    justify-content: space-between; /* separa h1 y nav a extremos */
    align-items: center;           /* centra verticalmente */
    gap: 1rem;                     /* espacio entre h1 y nav */
}

/* Especificidad = 001 */
nav {
    display: flex;
    gap: 0.75rem;                /* espacio entre enlaces */
    justify-content: flex-end;   /* alinea los enlaces a la derecha */
}

/* Especificidad = 001 */
Video,audio {
    width:100%;
    height:auto;
}

/* Especificidad = 001 */
img {
    max-width:100%;
    height:auto;
}

/* ------------------------------- */
/*   MEDIA QUERIES: Disenio movil   */
/* ------------------------------- */
@media (min-width: 320px) and (max-width: 799px) {

    /* Se redefinen flex-direction y align-items para header */
    header {
        flex-direction: column;
        align-items: center;
    }

    /* Se redefinen flex-direction, justify-content y align-items para nav */
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Se redefine display para ocultar las migas de navegación */
    main > p:first-of-type {
        display: none;
    }

    /* Ajuste de tamaño de elementos multimedia */
    video,
    audio {
        width: 100%;
        height: auto;
    }
}
